#title h1{
    color: #FF9900;
    text-align: center;
    margin: 15px;
    
}
#main_content{
    padding: 15px;
    margin-bottom: 10px;
    /*border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 0 25px #999;*/
    font-size: 18px;
}
#first{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 13px;
    float: left;
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 0 25px #999;
    font-size: 14px;
}
#first h2{
    font-family: sans-serif ;
    font-size: 16px;
    margin-bottom: 0;
    padding-left: 10px;
}
#first ul{
    margin-top: 0;
}
#first ul li{
    float: left;
    line-height: 2;
    padding-left: 10px;
    font-size: 16px;
}
#second{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 13px;
    float: left;
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 0 25px #999;
}
#second h2{
    font-family: sans-serif ;
    font-size: 16px;
    margin-bottom: 0;
    padding-left: 10px;
}
#second ol{
    margin-top: 0;
}
#second ol li{
    line-height: 2;
    padding-left: 10px;
}
#third{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    float: right;
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 0 25px #999;
}
#third h5{
    font-size: 14px;
    line-height: 1.35;
    font-weight: 100;
}